package internal

templ Index() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="utf-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1"/>
			<link rel="stylesheet" href="/output.css"/>
			<title>Templwind Development</title>
		</head>
		<body class="bg-neutral-50 text-neutral-950 dark:bg-neutral-950 dark:text-neutral-50"></body>
	</html>
}
