package twicons

templ ListCollapse(class ...string) {
	<svg
		xmlns="http://www.w3.org/2000/svg"
		width="24"
		height="24"
		viewBox="0 0 24 24"
		fill="none"
		stroke="currentColor"
		stroke-width="2"
		stroke-linecap="round"
		stroke-linejoin="round"
		class={ class }
	>
		<path d="m3 10 2.5-2.5L3 5"></path>
		<path d="m3 19 2.5-2.5L3 14"></path>
		<path d="M10 6h11"></path>
		<path d="M10 12h11"></path>
		<path d="M10 18h11"></path>
	</svg>
}
